
@{
	ViewBag.Title = "Courses";
}

<h2>Courses</h2>
<link href="~/Content/admin-lte/bower_component/select2/dist/css/select2.css" rel="stylesheet" />
<link href="~/Content/admin-lte/bower_component/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Create New Course</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form>
		<div class="container">
			<div class="box-body">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<input id="id" hidden />
						<div class="row">
							<div class="form-group">
								<label for="lastName" class="col-sm-2 control-label">ID</label>

								<div class="col-8">
									<input type="text" class="form-control" id="txtTrainingID" placeholder="Type training ID here...">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="lastName" class="col-sm-2 col control-label">Name</label>

								<div class="col-8">
									<input type="text" class="form-control" id="txtName" placeholder="Type training's name here ...">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="gender" class="col-sm-2 col control-label">Start date </label>

								<div class="input-group date col-xs-12 col-md-6">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="datepicker">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="gender" class="col-sm-2 col control-label">End date </label>

								<div class="input-group date col-xs-12 col-md-6">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="datepicker">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="gender" class="col-sm-2 col control-label">Note</label>

								<div class="col-8">
									<div class="box-body pad">
										<textarea id="editor1" name="editor1" rows="10" cols="80">
                                            Type your note here
									</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<label for="lastName" class="col-6 control-label">Choose specialized trainings <i>(multiple)</i></label>

							<div class="col-xs-12 col-md-8">
								<div class="form-group">
									<select class="form-control select2" multiple="multiple" data-placeholder="Select a training" id="selectTrainings"
											@*style="width: 80%;"*@>
										<option>.NET</option>
										<option>Java</option>
										<option>Android</option>
										<option>iOS</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<label for="lastName" class="control-label">Plan date for entrance tests</label>

							<div class="col-auto">
								<div class="form-group">
									<label class="col-xs-6 col-md-2">First:</label>
									<div class="input-group date col-xs-12 col-8">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" id="datepicker">
									</div>
								</div>
							</div>
							<div class="col-auto">
								<div class="form-group">
									<label class="col-xs-6 col-md-2">Second:</label>
									<div class="input-group date col-xs-12 col-8">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" id="datepicker">
									</div>
								</div>
							</div>
							<div class="col-auto">
								<div class="form-group">
									<label class="col-xs-6 col-md-2">Third:</label>
									<div class="input-group date col-xs-12 col-8">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" id="datepicker">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<div class="container-fluid">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-default" id="btnClear">Clear</button>
				</div>
				<div class="col-sm-10 text-right" >
					<button type="submit" class="btn btn-success" id="btnSave">Save</button>
				</div>
			</div>
		</div>
		<!-- /.box-footer -->
	</form>
</div>
<!-- /.box -->

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Courses Data Table</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="example2" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>ID</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Specialized Trainings</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>
									Khóa 1
								</td>
								<td>K01</td>
								<td>10/02/2016</td>
								<td>10/05/2016</td>
								<td>Java</td>
								<td>
									<button class="btn btn-default">Edit</button>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									Khóa 2
								</td>
								<td>K04</td>
								<td>10/07/2016</td>
								<td>10/11/2016</td>
								<td>.NET</td>
								<td>
									<button class="btn btn-default">Edit</button>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>
									Khóa 3
								</td>
								<td>K03</td>
								<td>10/01/2017</td>
								<td>10/04/2017</td>
								<td>Android, Java</td>
								<td>
									<button class="btn btn-default">Edit</button>
								</td>
							</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/Content/admin-lte/bower_component/select2/dist/js/select2.js"></script>
<script src="~/Content/admin-lte/bower_component/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script>
	$(document).ready(function () {
		$('#selectTrainings').select2();
	});
	$('#datepicker').datepicker({
		autoclose: true
	})
</script>