
@{
    ViewBag.Title = "View"; col - md - 12
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<script src="~/Content/admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Create new major</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group col-md-12">
                            <label for="txtMajorName" class="col-sm-2 col-md-3 col control-label">Major Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtMajorName" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row justify-content-around">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default" id="btnClear">Delete</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </form>
</div>
<!-- /.box -->
<div class="container">
    <div class="row mt-2">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("No")
                </th>
                <th>
                    @Html.Label("Major Name")
                </th>                
            </tr>
            <tbody id="dataTable"></tbody>
        </table>
    </div>
</div>

